<div class="hero-unit">
<h1>About (<%= link_to "me", "http://www.jypepin.com/", 
                      :target => "_blank" %>)</h1>
<p>
  Hi!<br>
  I'm Jonathan Pepin, student @ <%= link_to "DevBootcamp",
                                "http://www.devbootcamp.com/" %>;<br>
  I am immensely passionnate about eSports, Starcraft, and anything else that requires some skills.<br>
  I am currently working on that side-project to put into action what I learn here at DBC and to show Twitch how passionnate about them I am and how much I want to work for them.
  <strong>HIRE ME!!!</strong><br>
  Hopefully this will allow me to get massages twice a month (honestly it's all I'm looking for...)
</p>
</div>