<% adj = ["shit", "ultimate", "dream", "best of the best", "paramount", "peak", "best organism ever"].sample %>

<div class="hero-unit">
<h1>HI !</h1>
<p class="lead"><big>Did you know that Twitch.tv is the <strong>
  <%= adj %></strong> ?</big></p>
<div>