<h1>Top popular streams on Twitch!</h1>

  <ul class="thumbnails">
    <% @streams.each_with_index do |stream, index| %>
        <li class="span4">
      <%= link_to image_tag(stream.logo), stream %>
      <%= "#{index+1} - "%>
      <%= stream_link(stream) %>
        </li>
    <% end %>
  </ul>