<div class="footer">
  <div class="pull-right">
    By 
    <%= link_to "Jonathan Pepin", "http://www.jypepin.com/" %>
  </div>
  <div class="pull-left">
    From 
    <%= link_to "DevBootcamp", "http://www.devbootcamp.com" %>
    With Love
  </div>
</footer>