<div class="footer">
  <div class="pull-left">
    <%= link_to (image_tag('twitch.png', 
              :size => "100x100" )), 
              'http://www.twitch.tv/',
              :target => '_blank' %>
  </div>

  <div class="pull-right">
    By 
    <%= link_to "Jonathan Pepin", "http://www.jypepin.com/" %><br>
    From 
    <%= link_to "DevBootcamp", "http://www.devbootcamp.com" %>
    With Love 
  </div>
</footer>