<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Twitchr.dbc</a>
    <ul class="nav">
      <li><%= link_to "Home", root_path  %></li>
      <li><%= link_to "Games", games_path %></li>
      <li><%= link_to "Streams", streams_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
</div>